@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #080808;
}

nav {
  padding: 0 50px;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-one {
  background-color: #080808;
  color: #fff;
  height: 30px;
  cursor: pointer;
  font-size: 12px;
  border-bottom: 1px solid gray;
}

.icon {
  margin-left: 40px;
}

.media {
  margin-right: 20px;
  padding: -15px;
}

.icon:hover,
.media:hover {
  color: #ffbf00;
  transition: 0.5s linear;
}

span {
  margin-left: 5px;
}

.navbar-two {
  background: transparent;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  text-transform: uppercase;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  margin-left: 40px;
}

.logo:hover {
  color: #ffbf00;
  transition: 0.5s linear;
}

ul {
  display: flex;
  margin-left: 320px;
  margin-top: 10px;
}

li {
  list-style: none;
}

.navbar-two .nav a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  margin-left: 37px;
  color: #fff;
  font-weight: bold;
}

.navbar-two a:hover {
  color: #ffbf00;
  transition: 0.5s linear;
}

.button a {
  text-transform: uppercase;
  padding: 12px 14px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffbf00;
  border-radius: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: #ffbf00;
  font-size: 14px;
  font-weight: 600;
}

.button a:hover {
  background: #ffbf00;
  color: #fff;
}

.home {
  display: flex;
  align-items: center;
  margin-top: 120px;
  margin-left: 90px;
}

.home-content {
  color: #fff;
  max-width: 600px;
}

.home-content h1 {
  font-size: 50px;
  color: #ffbf00;
  font-family: 'PT Serif', serif;
}

.home-content h2 {
  font-size: 38px;
  margin-top: 10px;
  font-family: 'PT Serif', serif;
}

.home-content .content .paragraph p {
  font-size: 12px;
  margin-top: 8px;
  border-left: 3px solid #ffbf00;
  padding: 10px;
  line-height: 16px;
}

.home-content .play {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.play .fa {
  color: #ffbf00;
  cursor: pointer;
  border: 0.5px solid #ffbf00;
  border-radius: 60px;
  padding: 15px;
}

.play .fa:hover {
  background-color: #ffbf00;
  color: #fff;
  transition: 0.5s linear;
}

.play p {
  margin-left: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12px;
}

.image {
  position: absolute;
  right: 140px;
  margin-bottom: 10px;
}

.image img {
  width: 460px;
}

.about_me_content h6 {
  color: #ffbf00;
  text-transform: uppercase;
}

.about_me_content h2 {
  color: #fff;
  font-family: 'PT Serif', serif;
  font-size: 32px;
  padding-bottom: 30px;
}

.white {
  color: #ffbf00;
}

.aboutme {
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin-bottom: 40px;
}

.about_me {
  margin-top: 20px; /* Adjust this value to move the second section further below */
  padding: 100px; /* Optional: Add padding to the sections for spacing */
}
.about_me_content {
  margin-left: 40px;
}
.about_me_content h6 {
  margin-top: 30px;
}

.about_me_content h2 {
  margin-top: 10px;
}

.about_me_paragraph {
}

.about_me_paragraph p {
  font-size: 12px;
  margin-top: 8px;
  border-left: 3px solid #ffbf00;
  padding: 10px;
  line-height: 16px;
  color: #fff;
}
.about_button a {
  text-transform: uppercase;
  padding: 12px 14px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffbf00;
  border-radius: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: #ffbf00;
  font-size: 14px;
  font-weight: 600;
}
.about_button {
  margin-top: 30px;
}

.skills_section {
  width: 100%;
  height: 50vh;
  padding: 0px 13%;

  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills_head {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}

.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #ffbf00;
}
.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}
.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: WHITE;
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #ffbf00;
  border-radius: 25px;
}
.skill_bar .bar .webd {
  width: 90%;
  animation: webd 2s;
}
@keyframes webd {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.skill_bar .bar .cinema {
  width: 80%;
  animation: webd 2s;
}
@keyframes cinema {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.skill_bar .bar .ps {
  width: 95%;
  animation: ps 2s;
}
@keyframes ps {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
.skill_bar .bar .after {
  width: 90%;
  animation: css 2s;
}
@keyframes after {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.skill_bar .bar .php {
  width: 85%;
  animation: php 2s;
}
@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.skill_bar .bar .ai {
  width: 95%;
  animation: ai 2s;
}
@keyframes ai {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
